@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-nekst);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scrollbar-gutter: stable;
  scroll-behavior: smooth;
}

body {
  background-color: var(--background);
  color: var(--foreground);

  /* Global font */
  font-family: var(--font-sans), system-ui, sans-serif;
  font-weight: 600; /* Nekst SemiBold */

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



.hide-scrollbar {
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
